<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="~{fragments/head :: head}"></div>
</head>

<body>
  <header th:replace="~{fragments/header :: header}"></header>

  <main class="container my-5 py-4">
    <div class="row w-100 g-0">
      <div id="messagesAlert" class="d-none py-2">
        <!-- Individual error alerts will be dynamically inserted here -->
      </div>
    </div>
    <div class="jewel-details-card">
      <div class="row g-0">
        <h1 class="text-gold fw-bold mb-3"><span th:text="${order.id}" id="auctionId"></span></h1>
        <p class="text-muted mb-2">Estado: <span th:text="#{'order.status.' + ${order.status}}"></span></p>
        <p class="text-muted mb-2">Fecha: <span
            th:text="${#temporals.format(order.createdAt, 'yyyy-MM-dd HH:mm')}"></span></p>
        <p class="lead text-white mb-3">Precio Total: <span
            th:text="${'$' + #numbers.formatDecimal(order.total, 1, 'COMMA', 2, 'POINT')}" class="text-white"></span>
        </p>


        <div class="mt-auto">
          <a th:href="@{/orders}" class="btn-regresar me-3">
            <i class="fas fa-arrow-left me-2"></i>Volver a la Lista
          </a>
          <div class="d-flex justify-content-between align-items-center" th:if="${order.status.name() == 'PENDING'}">
            <form th:action="@{/orders/order/pay}" method="post" th:object="${orderForm}">
              <input type="hidden" name="id" th:value="${order.id}" />
              <button type="submit" class="btn btn-gold btn-lg px-5">
                <i class="fas fa-credit-card-alt me-2"></i> Pagar
              </button>
            </form>

            <form th:action="@{/orders/order/cancel}" method="post" th:object="${orderForm}">
              <input type="hidden" name="id" th:value="${order.id}" />
              <button type="submit" class="btn-regresar btn-lg px-5">
                <i class="fas fa-ban me-2"></i> Cancelar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer th:replace="~{fragments/footer :: footer}"></footer>

  <script th:src="@{/js/messages.js}"></script>
  <script th:src="@{/js/order/show.js}"></script>
</body>

</html>